* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration:#d53369;
  
}
a:hover {
  color: rgb(224, 17, 114);
  opacity: 0.8;
}
a:active{
  background: #d53369;
}
a:focus{
  background: #d53369;
}

table {
  width: 100%;
}
.title-item{
  
  /*border-bottom-style: solid;
  border-width: 4px;
  border-color: #d53369;
  ;*/
  border-bottom: solid 4px #d53369;
  padding-bottom: 1em;
  position: relative;
  /*padding cuando se declaran 4 valores es en el sentido del reloj:
  -arriba/derecha/abajo/izquierda
  padding cuando se declaran 2 valores es :
  arriba/abajo derecha/izquierda;*/
}

.container {
  background: #d53369; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d53369,
    #cbad6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d53369, #cbad6d);
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  
}
.Berlion{
  max-width:30vw;  
  align-items: center;
  margin-left: 1em;
  margin-top: 1em;
  float: left;
  margin-right: 1em;


}
.descripcion{
  text-align:left;
  line-height: 1.4em;
  font-size: 18;
  
}

.content {
  background-color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 2px;
  max-height: 800px;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  padding: 1.8em;
  overflow-x:hidden;
  overflow-y:scroll;
}
.actions{
  position: absolute;
  top: 1em;
  right: 1em;
  left: 47em;
  
}
a.close{
  height: 40px;
  width: 40px;
  color: #fff;
  border-radius: 50%;
  background:linear-gradient(to right, #d53369, #cbad6d);
  display:inline-block;
  font-weight: 300;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin-left: 7em;
  
}
a.close>span:hover{
  cursor: pointer;
}
table tr:nth-child(even) {
  background-color: #d53369;
}
fa-solid fa-star {
  color: #cbad6d;
}
td {
  border-spacing: 0;
}
.table td,
.table th {
  padding: 1em;
  text-align: left;
}
.position{
  background-color: #d53369;
  color: #fff;
  padding: 0.2em;
  width: auto;
  border-radius: 4px;
  position: relative; 
  margin-right: 0.5em;
}
.titulo{
  text-align:center;
  position: relative;
  top: auto ;
  bottom: 10%  ;
  font-size: 30 ;
  
}
.titulo-descripcion{
align-items: center;
margin-right: 1em  ;
position: relative;
left: 4em  ;
}